*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media  screen and (max-width: 475px) {
    #boxes{
        width: 350px;
        height: 350px;
        background-color: purple;
        margin-top: 150px;
        align-items: center;
        /* border: 2px color yellow; */
    }
    .form{
        margin-left: 10px;
    }
    .btn{
        margin-right: 10px;
    }
    .heading{
        padding:0;
        /* font-size: 4px; */
    }
    #boxes h2{
        font-size: 10px;
    }
    #welucome{
        font-size: 60px;
        padding: 0;
        border: 2px solid red;
    }
    #paragraphs{
        font-size: 14px;
        margin-top: 0;
    }
}
body{
    background-color :rgb(17, 14, 14)!important;
    /* z-index: 1000; */
}
.cube1{
    border: 2px solid purple;
    width: 60px;
    height: 60px;
    transform: translate(0px, 400px);
    opacity: 10%;
    background-color: rgb(71, 21, 58);

}
.cube2{
    border: 2px solid purple;
    background-color: rgb(170, 109, 170, 0.5);
    width: 40px;
    height: 40px;
    opacity: 10%;

    transform: translate(100px, 200px);

}
.cube9{
    border: 2px solid purple;
    background-color: rgb(170, 109, 170, 0.5);
    width: 40px;
    height: 40px;
    opacity: 10%;

    transform: translate(700px, -200px);

}
.cube3{
    border: 2px solid purple;
    background-color: rgb(170, 109, 170);
    width: 80px;
    height: 80px;
    transform: translate(1200px, -40px);
    opacity: 10%;

}
.cube4{
    border: 2px solid purple;
    background-color: rgb(195, 16, 195);
    width: 80px;
    opacity: 10%;
    height: 80px;
    transform: translate(240px, -200px);

}
.cube5{
    border: 2px solid  rgb(21, 2, 21);
    background-color:purple;
    width: 80px;
    opacity: 10%;
    height: 80px;
    transform: translate(120px, -20px);

}
.cube6{
    border: 2px solid purple;
    background-color: rgb(170, 109, 170);
    width: 40px;
    opacity: 10%;
    height: 40px;
    transform: translate(1200px, -200px);

}
.cube7{
    border: 2px solid purple;
    width: 60px;
    opacity: 10%;
    height: 60px;
    transform: translate(1100px, -400px);
    background-color: rgb(71, 21, 58, 0.4);

}
.cube8{
    border: 2px solid  rgb(70, 5, 70);
    background-color:rgb(233, 40, 233);
    width: 80px;
    opacity: 10%;
    height: 80px;
    transform: translate(1000px, -200px);

}
.cube10{
    border: 2px solid purple;
    background-color: rgb(170, 109, 170, 0.5);
    width: 40px;
    height: 40px;
    opacity: 10%;

    transform: translate(700px, -200px);

}

.box{
    overflow: hidden;
    /* border: 2px solid white; */
    margin: auto;
    margin-top: -180px;
    background-color:white;
    z-index: 1000;
    height: 400px;
    width: 700px;
    border-radius: 10px;
    border-top: 4px solid pink;
    border-bottom: 4px solid pink;
    background-color: purple;
}
.icon{
    animation:icon 2s linear infinite forwards ;
    transition: 4s;
    transform:scale(20px 0px) ;
}
@keyframes icon {
    0%{
        /* transform: scalex(20px); */
    
    }
    
}
.heading{
    border-bottom: 2px solid rgba(19, 152, 39, 0.464);
    font-size: 16px;
    padding: 10px;
}
.welcome{
    
    animation: welcome 10s linear infinite forwards;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
@keyframes welcome {
    0%{
        transform: translate(-30px);
    }
    100%{
        transform: translate(800px);
    
}
}
.paragraph{
    padding: 3px;
    font-size: 22px;
    margin-top: 50px;
    text-align: center;
    color: white;
}
.answer{
    /* border: 2px solid blue; */
    /* background-color: red; */
    /* color: red; */
    text-align: center;
    /* margin: auto; */
    /* border-radius: 20px; */
    /* font-size: 20px; */
    /* width: 300px; */
    /* padding: 50px;  */
    /* height: 30px; */
    /* padding: 20px; */
    /* padding-bottom: 20px; */
}
.form{
    margin-left: 10px;
    margin-bottom: 30px;
    margin-top: 60px;
    padding: 20px 0px;

}
.btn{
    margin-right: 10px;
    margin-bottom: 30px;
    margin-top: 60px;
    padding: 20px 0px;
    background-color:pink;
    outline: pink;

}